<h2 align="center">TAX INVOICE</h2>

<b>Invoice No:</b> {{head[0]}} <br>
<b>Date:</b> {{head[3]}} <br>
<b>Customer:</b> {{head[2]}} <br>

<hr>

<table border="1" width="100%">
<tr>
<th>Item</th>
<th>Section</th>
<th>Qty</th>
<th>Rate</th>
<th>Amount</th>
</tr>

{% for r in body %}
<tr>
<td>{{r[0]}}</td>
<td>{{r[1]}}</td>
<td>{{r[2]}}</td>
<td>{{r[3]}}</td>
<td>{{r[4]}}</td>
</tr>
{% endfor %}
</table>

<hr>

<b>Grand Total:</b> {{head[4]}}

<br><br>

<button onclick="window.print()">Print</button>
